<h1><%= @wiki.title %></h1>
<%= simple_format @wiki.body %>

<%= link_to "Edit", edit_wiki_path, class: 'btn btn-success' %>
<%= link_to 'Delete', wiki_path(@wiki), method: :delete, class: 'btn btn-sm btn-danger' %>